@use '../../mayecreate-theme-22/scss/vars';
@use 'child_vars';
/*GLOBAL STUFF
============================ */
.divider, .wp-block-separator {
    max-width: 865px;
}
.wp-block-image .alignleft .nomargin, .wp-block-image .alignright .nomargin {
    margin: 0;
}
.has-yellow-color {
    color: #FFA50A !important;
}
.has-grey-color {
    color: #aaa !important;
}
.has-lightgrey-color {
    color: #C4C4C4 !important;
}
.has-darkgrey-color {
    color: #666 !important;
}
.has-hotpink-color {
    color: #f542e6 !important;
}
.narrow_p {
	max-width: 1200px;
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}
.narrower_p {
	max-width: 992px;
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}
.pagebreak {
    margin-bottom: 10px;
}
.caps {
    text-transform: uppercase !important;
}
/* LINKS
==========================================	*/
#page a, #page a:link, #page a:visited {
	text-decoration:underline; 
}
#page a:hover, #page a:active, #page a:focus {
	text-decoration:none;
}
.post_link_wrapper:link, .post_link_wrapper:visited {
	text-decoration:none !important;
}
/*LISTS
============================ */
ol li {
    counter-increment: count-me;
	list-style:none;
}
ol li::before {
    content: counter(count-me) ". ";
    display: block;
    position: relative;
	font-family: vars.$header_font;
    max-width: 40px;
    width: 40px;
    max-height: 0px;
    left: -40px;
    top: .05em;
	color: vars.$secondary_color;
    font-weight: 700;
    text-align: center;
}

/* BUTTONS: Styles for Custom Button Block
==========================================  */
.btn-mayecreate, a.btn-mayecreate:link, a.btn-mayecreate:visited, .wp-block-button a:link, .wp-block-button a:visited {
    text-decoration: none !important;
    text-transform: uppercase;
	font-family: vars.$header_font;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px; 
}
.btn-mayecreate.large, a.btn-mayecreate.large:link, a.btn-mayecreate.large:visited, .wp-block-button.large a:link, .wp-block-button.large a:visited {
	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    padding-left: 50px;
    padding-right: 50px; 
}
.dark .btn-mayecreate, .dark a.btn-mayecreate:link, .dark a.btn-mayecreate:visited, .dark .wp-block-button a:link, .dark .wp-block-button a:visited {
    border: 3px solid vars.$white;
}
.dark .btn-mayecreate:hover, .dark a.btn-mayecreate:active, .dark .wp-block-button a:hover, .dark .wp-block-button a:active {
    border: 3px solid vars.$button_hover_background_color !important;  
}
/*HEADER
============================ */
#internalfeatured {
    position: relative;
}
.pagehead .page-header {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    background: vars.$top_nav_background_color;
    margin: 0;
    padding: 30px 0;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.pagehead .page-header .entry-title {
    padding: 0;
    margin: 0 auto;
    position: static;
    max-width: 1640px;
    width: 95%;
    text-shadow: none;
    text-align: right;
    padding-left: 10%;
    text-transform: uppercase; 
}
#navigation.affix-top {
    background: transparent;
}
#navigation.affix #navbarTop {
	background: vars.$top_nav_background_color;
}
#navigation.affix #navbarBottom {
    border-bottom: 5px solid  vars.$secondary_color;
    background: child_vars.$transparent_white;
}
#branding-container {
    background: vars.$body_background_color;
    max-width: 200px;
}
#navbarTop {
    position: relative;
    z-index: 1;
    display: block;
    border-bottom: 8px solid #fff;
    min-height: 50px;
}
#navbarTop #top_nav {
    display: none;
    float: right;
    width: auto;
}
#navbarTop .container {
    display: block;
}
#navbarBottom {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    border-top: 8px solid vars.$base_color;
}
#navbarBottom .container {
    background: child_vars.$transparent_white;
    padding: 0;
    position: relative;
    min-height: 45px; 
}
#branding-container {
    margin: -85px 0 -40px 0;
    padding: 40px 20px;
}
.header_contact {
    float: right;
    padding: 10px 0;
    margin: 0;
}
.header_contact i {
    color: vars.$top_nav_link_hover_color;
}
.header_contact a:link, .header_contact a:visited {
    color: vars.$top_nav_link_color;
    text-decoration: none;
    font-family: vars.$header_font;
    font-weight: 400;
}
.header_contact a:hover, .header_contact a:active {
    color: vars.$top_nav_link_hover_color;
    text-decoration: none;
}
/*FOOTER
============================ */
ul.social {
    text-align: center;
    margin-bottom: 10px;
}
#branding-container-footer a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.footer_contact {
	font-family: vars.$header_font;
    font-size: clamp(1.8rem, 1rem + 1vw, 2rem);
    margin-bottom: 10px;
    text-align: center;
}
.footer_contact:last-child {
    margin-bottom: 0;
}
#footer_menu_outer_wrapper {
    display: none;
}
/*HOME
============================ */
div#homefeatured {
    position: relative;
    margin-bottom: 10px;
}
div#homefeatured #myCarousel {
    display: block;
    margin: 0;
    z-index: 1;
}
div#homefeatured #myCarousel, div#homefeatured .carousel, div#homefeatured .carousel-inner {
    height: 60vh;
}
div#homefeatured .slideDesc {
    background: none;
}
div#homefeatured .slideDesc .slideTitle {
    font-size: clamp(2.8rem, 2.5rem + 1vw, vars.$header_3_font_size);
	font-family: vars.$header_font;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: -10px;
    text-shadow: 0px 0px 10px rgba(0,0,0,.6);
}
div#homefeatured .slideDesc .slideText {
    font-size: clamp(3.5rem, 3rem + 1vw, vars.$header_1_font_size);
	font-family: vars.$header_font;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-shadow: 0px 0px 10px rgba(0,0,0,.25);
}
#home_callouts {
    display: none;
}
/*PAGERBREAKS
============================ */
.pagebreak.dark h1, .pagebreak.dark h2, .pagebreak.dark h3, .pagebreak.dark h4, .pagebreak.dark h5, .pagebreak.dark h6, .pagebreak.dark p, .pagebreak.dark li {
    color:vars.$white;
}
.pagebreak.pagebreak_default_background_image {
    background-size: auto;
    background-repeat: repeat;
}
.pagebreak.dark.pagebreak_default_background_image {
    background: #235034;
}
/*SITE CUSTOMIZER
============================ */
.acf-form-submit [type=button], .acf-form-submit [type=button]:not(:disabled), .acf-form-submit [type=reset]:not(:disabled), .acf-form-submit [type=submit]:not(:disabled), .acf-form-submit button:not(:disabled) {
	background: vars.$button_background_color;
	color:  vars.$button_color;
	border: 1px solid vars.$button_background_color;
    border-radius: 0;
	padding: 15px;
    outline: none !important;
    transition: all 0.14s ease-in-out;
}
.acf-form-submit [type=button]:hover, .acf-form-submit [type=button]:not(:disabled):hover, .acf-form-submit [type=reset]:not(:disabled):hover, .acf-form-submit [type=submit]:not(:disabled):hover, .acf-form-submit button:not(:disabled):hover {
	background: vars.$button_hover_background_color;
	border: 1px solid vars.$button_hover_background_color;
	color: vars.$button_hover_color;
	outline: none;
}
/*PROJECTS
============================ */

.projectli {
    position: relative;
}

span.ptitle {
    position: absolute;
    display: block;
    bottom: 0;
    padding: 15px;
    background: vars.$black;
    width: 100%;
    text-align: center;
}

.pagebreak.slider .container {
    max-width: 95%;
    width: 95%;
}
.project_link_wrapper, .project_link_wrapper:link, .project_link_wrapper:visited {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    clip-path: polygon(65px 0, 100% 0, 100% 100%, 0 100%, 0 65px);
}
.project_link_wrapper h3 {
    margin-bottom: 0;
}
.pagebreak.dark .project_link_wrapper h3 {
	color: vars.$projects_title_color;
}
.pagebreak.dark .project_link_wrapper:link:hover h3 {
	color: vars.$projects_title_hover_color;
}
.pagebreak.dark .project_link_wrapper h4 {
	color: vars.$projects_post_date_color;
}
.pagebreak.dark .project_link_wrapper:link:hover h4 {
	color: vars.$projects_post_date_hover_color;
}
.pagebreak.dark .project_link_wrapper h5 {
	color: vars.$projects_list_categories_color;
}
.pagebreak.dark .project_link_wrapper:link:hover h5 {
	color: vars.$projects_list_categories_hover_color;
}
.pagebreak.dark .project_link_wrapper p {
	color: vars.$projects_content_color;
}
.pagebreak.dark .project_link_wrapper:link:hover p {
	color: vars.$projects_content_hover_color;
}
#lightSlider {
    margin-bottom: 40px;
    height: auto !important;
}
#lightSlider li {
    opacity: .6;
    list-style:none;
    transition: all 0.14s ease-in-out;
    vertical-align: middle;
    padding-bottom: 1px;
}
#lightSlider2 {
    margin: 0px;
    margin-bottom: 40px;
    height: auto !important;
}
#lightSlider2 li {
    list-style:none;
    margin:0;
    display: block; 
    text-align: center;
}
#lightSlider2 li img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    max-width: 99% !important;
}
#lightSlider2 li .img_fix {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    height: 230px;
    width: 0px;
}
#lightSlider:after, #lightSlider2:after {
    display: block;
    content: '';
    position: relative;
    clear: both;
}

.image_box {
    min-height: 90px;
    height: 120px;
    padding: 15px;
}

.image_box img {
    min-height: 90px;
    max-height: 90px;
}

a.home_callout  span.image_box.active {
    display: block !important;
}

a.home_callout  span.image_box.hover {
    display: none !important;
}

a.home_callout:hover  span.image_box.active {
    display: none !important;
}

a.home_callout:hover  span.image_box.hover {
    display: block !important;
}

.allcaps {
    text-transform: uppercase !important;
}

.hide-background-tablet .pagebreak_left_img, .hide-background-tablet .pagebreak_right_img {
    display: none;
}

    /* Small devices (576px and up). This is anything labeled "sm" in bootstrap. */
    @media (min-width: 576px) {
        
    } 

        /* Medium devices (tablets, 768px and up). This is anything labeled "md" in bootstrap. */
		@media (min-width: 768px) {
            
            div#homefeatured #myCarousel, div#homefeatured .carousel, div#homefeatured .carousel-inner {
                height: 75vh;
            }
        }

            /* Large devices (desktops, 992px and up). This is anything labeled "lg" in bootstrap. */
            @media (min-width: 992px) {
                .wp-block-image .alignleft .nomargin {
                    float: left;
                    margin: 0;
                }
                .wp-block-image .alignright .nomargin {
                    float: right;
                    margin: 0;
                }
                /*HEADER
                ============================ */
                #branding-container {
                    max-width: 260px;
                    margin: -95px 0 -40px 0;
                    padding: 40px 20px;
                }
                #navbarTop #top_nav {
                    display: block;
                }
                #top_nav, #main_nav {
                    padding-right: 10px;
                }
                #top_nav a:link, #top_nav a:visited {
                    font-family: vars.$header_font;
                    padding: 10px 10px;
                    font-size: clamp(1.6rem, 1rem + 1vw, vars.$body_font_size);
                }
                .header_contact {
                    font-size: clamp(1.6rem, 1rem + 1vw, vars.$body_font_size);
                }
                #main_nav a:link, #main_nav a:visited {
                    font-family: vars.$header_font;
                    font-weight: 700;
                    font-size: clamp(1.6rem, 1rem + 1vw, vars.$body_font_size);
                    padding: 15px 2px;
                }
                #navigation.affix #main_nav a, #navigation.affix #top_nav a, #navigation.affix .header_contact  {
                    font-size: 1.6rem;
                    padding: 5px;
                }
                #navigation.affix #branding-container {
                    margin: -88px 0 -40px 0;
                    padding: 15px 20px;
                }
                div#homefeatured .slideDesc .slideTitle {
                    font-size: 4rem;
                    margin-bottom: -10px;
                }
                div#homefeatured .slideDesc .slideText {
                    font-size: 8rem;
                }
                div#homefeatured .slideDesc {
                    top: -140px;
                }
                #home_callouts {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    background: vars.$top_nav_background_color;
                    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
                    z-index: 2;
                    padding: 25px 0;
                }
                #home_callouts .row {
                    width: 90%;
                    margin-left: 10%;
                }
                #home_callouts h2 {
                    color: vars.$top_nav_link_color;
                    font-weight: 400;
                    text-transform: uppercase;
                }
                #home_callouts .home_callout:link, #home_callouts .home_callout:visited {
                    color: vars.$top_nav_link_color;
                    text-align: center;
                    display: block;
                    text-decoration: none;
                    margin: 0 auto 20px auto;
                    max-width: 225px;
                }
                #home_callouts .home_callout:hover, #home_callouts .home_callout:active {
                    color: vars.$top_nav_link_color;
                    text-decoration: none;
                }
                #home_callouts .home_callout span {
                    display: block;
                    font-family: vars.$header_font;
                    font-size: clamp(2.0rem, 1.8rem + 1vw, vars.$header_6_font_size);
                    font-weight: 600;
                    line-height: 100%;
                }
                #home_callouts .home_callout i {
                    opacity: .8;
                    transition: all 0.14s ease-in-out;
                    display: block;
                    text-align: center;
                    font-size: clamp(3.5rem, 3rem + 1vw, vars.$header_1_font_size);
                    margin-bottom: 15px;
                }
                #home_callouts .home_callout:hover i {
                    opacity: 1;
                    color: vars.$top_nav_link_hover_color;
                }
                #lightSlider li {
                    opacity: .6;
                    list-style:none;
                    transition: all 0.14s ease-in-out;
                    padding: 40px;
                    vertical-align: middle;
                }
                #lightSlider img {
                    display: inline-block;
                }
                #lightSlider li.active {
                    opacity: 1;
                    padding: 0;
                }
                #lightSlider li.next {
                    padding: 20px;
                }
                #lightSlider li.previous {
                    padding: 20px;
                }
                #lightSlider li.way_back {
                    padding-right: 0;
                    text-align: right;
                }
                #lightSlider li.way_up {
                    padding-left: 0;
                }
                #lightSlider li.way_back img, #lightSlider li.way_back .projectli span {
                    width: 85%;
                    height: auto;
                }
                #lightSlider li.way_up img, #lightSlider li.way_up .projectli span {
                    width: 85%;
                    height: auto;
                }

                #lightSlider li.way_back .projectli span {
                    right: 0;
                }
                #lightSlider li.way_up .projectli span {
                    left: 0;
                }
            }

                /* Larger-er devices (desktops, 1024px and up). This is NOT a breakpoint in bootstrap. */
                @media (min-width: 1024px) {
                    div#homefeatured #myCarousel, div#homefeatured .carousel, div#homefeatured .carousel-inner {
                        height: 100vh;
                    }
                    div#homefeatured .slideDesc .slideTitle {
                        font-size: 6rem;
                        margin-bottom: -15px;
                    }
                    div#homefeatured .slideDesc .slideText {
                        font-size: 10rem;
                    }

                    #lightSlider2 li .img_fix {
                        display: inline-block;
                        margin: 0 auto;
                        vertical-align: middle;
                        height: 230px;
                        width: 1px;
                    }

                    .hide-background-tablet .pagebreak_left_img, .hide-background-tablet .pagebreak_right_img {
                        display: block;
                    }
                }

                    /* Xtra-Large devices (desktops, 1200px and up). This is anything labeled "xl" in bootstrap. */
                    @media (min-width: 1200px) {
                        /*HEADER
                        ============================ */
                        #main_nav a:link, #main_nav a:visited {
                            padding: 15px 10px;
                        }
                        /*FOOTER
                        ============================ */
                        ul.social {
                            text-align: left;
                        }
                        #branding-container-footer a {
                            display: block;
                            text-align: left;
                        }
                        .footer_contact {
                            text-align: left;
                        }
                        #footer_menu_outer_wrapper {
                            display: flex;
                        }
                        #footer_menu_outer_wrapper ul.menu {
                            margin: 20px 0 10px 0;
                            padding: 0;
                        }
                        #footer_menu_outer_wrapper ul.menu ul.sub-menu {
                            margin: 0 0 0 20px;
                            padding: 0;
                        }
                        #footer_menu_outer_wrapper ul.menu li {
                            list-style: none !important;
                            margin: 0;
                            padding: 0;
                        }
                        #footer_menu_outer_wrapper ul.menu li a:link, #footer_menu_outer_wrapper ul.menu li a:visited {
                            font-family: vars.$header_font;
                            text-transform: uppercase;
                            font-size: clamp(1.8rem, 1rem + 1vw, vars.$body_font_size);
                            padding: 0 0 15px; 
                            margin: 0;
                            font-weight: 700;
                            display: block;
                        }
                        #footer_menu_outer_wrapper ul.menu li ul li a:link, #footer_menu_outer_wrapper ul.menu li ul li a:visited {
                            font-size: clamp(1.8rem, 1rem + 1vw, vars.$body_font_size);
                            padding-bottom: 5px;
                            font-weight: 400;
                        }
                        /*HOME
                        ============================ */
                        #home_callouts .row {
                            width: 70%;
                            margin-left: 15%;
                            margin-right: 15%;
                        }
                        #home_callouts {
                            padding: 40px 0;
                        }
                        .home_page_left .pagebreak_left_img {
                            width: 55%;
                        }
                        .home_page_left .pagebreak_left_content {
                            width: 45%;
                        }
                    }

                        /* Xtra-Xtra-Large devices (desktops, 1400px and up). This is anything labeled "xxl" in bootstrap. */
                        @media (min-width: 1400px) {
                            #footer_menu_outer_wrapper ul.menu li a:link, #footer_menu_outer_wrapper ul.menu li a:visited {
                                font-size: clamp(2.0rem, 1rem + 1vw, vars.$header_6_font_size);
                            }
                            #footer_menu_outer_wrapper ul.menu li ul li a:link, #footer_menu_outer_wrapper ul.menu li ul li a:visited {
                                font-size: clamp(1.8rem, 1rem + 1vw, vars.$body_font_size);
                            }
                            div#homefeatured .slideDesc .slideTitle {
                                font-size: 8rem;
                                margin-bottom: -30px;
                            }
                            div#homefeatured .slideDesc .slideText {
                                font-size: 12rem;
                            }
                            .pagebreak.cutout {
                                clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
                                padding-bottom: 100px;
                                padding-top: 100px;
                            } 
                            .home_page_left .pagebreak_left_content, .pagebreak.precut {
                                padding-bottom: 130px;
                            }
                            .pagebreak.precut.pagebreak_right, .pagebreak.precut.pagebreak_left {
                                padding-bottom: 0px;
                            }
                            .pagebreak.precut.pagebreak_right .pagebreak_right_content, .pagebreak.precut.pagebreak_left .pagebreak_left_content {
                                padding-bottom: 130px;
                            }
                            .home_page_left, .pagebreak.precut {
                                margin-bottom: -95px;
                            }
                        }

                            /* Specialized Xtra-Xtra-Xtra-Large devices (desktops, 1550px and up). This is NOT a breakpoint in bootstrap. */
                            @media (min-width: 1500px) {
                                /*FOOTER
                                ============================ */
                                .footer_contact {
                                    font-size: 2rem;
                                }
                                #footer_menu_outer_wrapper ul.menu li a:link, #footer_menu_outer_wrapper ul.menu li a:visited, #top_nav a:link, #top_nav a:visited, #home_callouts .home_callout span {
                                    font-size: vars.$header_6_font_size;
                                }
                                #footer_menu_outer_wrapper ul.menu li ul li a:link, #footer_menu_outer_wrapper ul.menu li ul li a:visited, #main_nav a:link, #main_nav a:visited {
                                    font-size: vars.$body_font_size;
                                }
                                #home_callouts .home_callout i {
                                    font-size: vars.$header_1_font_size;
                                }
                                div#homefeatured .slideDesc .slideTitle {
                                    font-size: 10rem;
                                    margin-bottom: -40px;
                                }
                                div#homefeatured .slideDesc .slideText {
                                    font-size: 15rem;
                                }
                            }

                                /* Specialized Xtra-Xtra-Xtra-Xtra-Large devices (desktops, 1700px and up). This is NOT a breakpoint in bootstrap. */
                                @media (min-width: 1700px) {

                                }